@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* General */
body {
  font-family: Montserrat;
}

a, a > code {
  color: #4393C3;
  text-decoration: none;
}

strong {
  color: #000000;
}

em {
  font-style: normal;
  font-weight: bold;
}

del {
  color: #E5E5E5;
  text-decoration: none;
  font-weight: bold;
}

/* General slides */
.remark-code {
  font-family: 'Hack', 'Lucida Console', Monaco, monospace;
  font-size: 65%;
}

.remark-inline-code {
  background: #F5F5F5;
  border-radius: 3px;
  padding: 4px;
}

.remark-slide-content {
  color: #474747;
  font-weight: 300;
  font-size: 180%;
  padding: 1em 2em 1em 2em;
}

/* Slide headers */
.remark-slide-content h1 {
  color: #444444;
  font-family: Montserrat;
}

.remark-slide-content h2 {
  color: #444444;
  font-family: Montserrat;
}

.remark-slide-content h3 {
  color: #444444;
  font-family: Montserrat;
}

.remark-slide-content h4 {
  color: #444444;
  font-family: Montserrat;
}

.remark-slide-content h5 {
  color: #444444;
  font-family: Montserrat;
}

/* Images */
img, video, iframe {
  max-width: 100%;
}

/* Lists */
li {
  padding: 10px;
  display: block;
}

li::before {
  content: "- ";
  font-weight: bold;
}

/* Title slide */
.title-slide {
  background-color: #FFFFFF;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide h1 {
  color: #101645;
  font-size: 72px;
  text-shadow: none;
  font-family: Montserrat;
  text-align: center;
  vertical-align: bottom;
}

.title-slide h2 {
  color: #101645;
  text-shadow: none;
  font-family: Montserrat;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

.title-slide h3 {
  color: #333333;
  text-shadow: none;
  font-family: Montserrat;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.title-slide h4 {
  color: #333333;
  text-shadow: none;
  font-family: Montserrat;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.hidden {
  visibility: hidden;
}

